// 
// Icons
// 

// Styling for the rounded social media links

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $primary;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}

.fa-html5 {
    position: relative;
    &:hover {
        color: $primary;
    }
}

.fa-css3-alt {
    position: relative;
    &:hover {
        color: $primary;
    } 
}

.fa-js {
    position: relative;
    &:hover {
        color: $primary;
    }
}

.fa-python {
    position: relative;
    &:hover {
        color: $primary;
    }
}

.fa-git {
    position: relative;
    &:hover {
        color: $primary;
    }
}

.fa-github {
    position: relative;
    &:hover {
        color: $primary;
    }
}

.fa-markdown {
    position: relative;
    &:hover {
        color: $primary;
    }
}

.tooltip {
    visibility: hidden;  /* Hidden by default */
    opacity: 0;          /* Invisible initially */
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;         /* Position above the icon */
    left: 50%;
    margin-left: -60px;   /* Center the tooltip */
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; /* Smooth fade-in and out */
    transition-delay: 0.2s;  /* Delay the visibility change */
}

.fa-html5:hover + .tooltip {
    visibility: visible;  /* Make the tooltip visible on hover */
    opacity: 1;           /* Make the tooltip fully visible */
    transition-delay: 0s; /* No delay on hover for visibility */
}

.fa-css3-alt:hover + .tooltip {
    visibility: visible;  /* Make the tooltip visible on hover */
    opacity: 1;           /* Make the tooltip fully visible */
    transition-delay: 0s; /* No delay on hover for visibility */
}

.fa-js:hover + .tooltip {
    visibility: visible;  /* Make the tooltip visible on hover */
    opacity: 1;           /* Make the tooltip fully visible */
    transition-delay: 0s; /* No delay on hover for visibility */
}

.fa-python:hover + .tooltip {
    visibility: visible;  /* Make the tooltip visible on hover */
    opacity: 1;           /* Make the tooltip fully visible */
    transition-delay: 0s; /* No delay on hover for visibility */
}

.fa-git:hover + .tooltip {
    visibility: visible;  /* Make the tooltip visible on hover */
    opacity: 1;           /* Make the tooltip fully visible */
    transition-delay: 0s; /* No delay on hover for visibility */
}

.fa-github:hover + .tooltip {
    visibility: visible;  /* Make the tooltip visible on hover */
    opacity: 1;           /* Make the tooltip fully visible */
    transition-delay: 0s; /* No delay on hover for visibility */
}

.fa-markdown:hover + .tooltip {
    visibility: visible;  /* Make the tooltip visible on hover */
    opacity: 1;           /* Make the tooltip fully visible */
    transition-delay: 0s; /* No delay on hover for visibility */
}